/* You can modify your style preference here   */
body{

    margin: 0;
}

form {

    background-color: #2E72D5;
    padding: 40px;

    
    
}


input{
    display: block;
    padding: 10px;
    margin: 2px;
    width: 100%;
    outline:none !important;
    box-sizing: border-box;
    background: transparent;
    color: white;
    border: none ;
    border-bottom: 2px solid black;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}


input:hover{

    background-color: rgb(19, 149, 205);
}

input:hover::placeholder{

    color: white;
}

input[type ="submit"]{


    text-align: left;
    width: 60%;
    margin: 20px 0px;
    background-color: #0e658a;
    border-bottom: none;
    
  
}

input[type="submit"]:hover{

    background-color: rgb(32, 65, 65);
 
}

h2{

    color: white;

}

.green{

    color: rgb(2, 5, 2);
    font-weight: 900;


}

.red {

    color: rgb(64, 0, 0);
    font-weight: 900;
}